:root {
    --base-color-1: rgb(96, 192, 156, 1.0);
    --base-color-2: rgb(96, 192, 156, 0.9);
    --base-color-3: rgb(96, 192, 156, 0.7);
    --base-color-4: rgb(96, 192, 156, 0.5);
    --base-color-5: rgb(150, 255, 150, 1.0);
    --base-color-6: rgb(58, 141, 111);
    --red-1:  rgb(255, 100, 100, 1.0);
    --blue-1: rgb(100, 100, 255, 1.0);
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
}