.topbar {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #60c09c;
    position: sticky;
    top: 0;
    z-index: 100;
}
.topbar a {
    text-decoration: none;
}
.topbar span {
    margin-left: 2em;
    font-size: 2em;
    font-weight: bold;
    color: white;
}
.topbar-right {
    height: 100%;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0.5em;
}
.topbar-right a {
    text-decoration: none;
    color: white;
    width: 33%;
    box-sizing: border-box;
    transition: 0.5s;
}